{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе проекта{% endblock title %}
{% block content %}
<div class="container py-1">
  <div class="container" >
    <div class="row">
  <div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/coffee.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Об авторе проекта</h1>
        <p class="lead">
             Мне всегда нравилось, что-то создавать. Но мой путь к программированию оказался слишком длинным.
             В детстве у меня была книга по С++, которую я открывал и забрасывал около 50 раз в разные моменты времени.
            Тогда я не понимал ничего, я хотел создавать программы, а не печатать текст на компьютере.
        </p>
        <p class="lead">
            Шло время, появлялись новые информационные технологии. Первую конструкцию if-else я в действительности осознал,
            когда пробовал создавать игры в RPG maker. На примере простого квеста, я понял, как это работает,
            а главное для чего это нужно. Потратив на игру-редактор-движок около 100 часов и сделав 2 минуты игры с заставкой.
            Пришлось столкнуться с более чем 100 проблемами движка и его ограничениями, я понял, что хочется выйти за рамки ограничений.
        </p>
      </div>
    </div>
  </div>
  <div class="px-0 py-1 my-5 text-left">
    <h1 class="display-4 fw-bold">Ещё немного об авторе...</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-5">
        Тогда я начал изучать С#. Для меня C# всегда останется, одим из лучших языков программирования.
        Этот язык и Visiual Studio показали, что можно создавать, практически, что захочешь. И тогда я начал изучать движок Unity.
        Создавая простые программы и игры по урокам. Пришло понимание, для того чтобы создавать
        сложные программы и игры нужна команда. Я даже нашёл художника, который бы рисовал арты для проекта.
        Но слишком быстро потерял мотивацию и на долгое время забросил всё, что связано с ИТ.
      </p>
      <p class="lead mb-5">
        События 2022 года и случайно найденный курс в интернете,
        навели меня на мысль о том, что это мой последний шанс - сменить сферу дейтельности.
        В октябре 2022 года было новым началом изучения обьективно-ориентированного языка програмирования Python.
        Благодаря этому языку и его Фреймворку Django, я создал свой первый проект.
        По правде, я испытал удивление от того, как можно просто создавать сайты с базой данных.
        Это мой первый проект на Django.
    </p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
        <table class="table table-bordered">
          <tread class="thead-dark">
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Ссылка</th>
            </tr>
          </tread>
          <tbody>
            <tr>
              <td>Мое резюме</td>
              <td>
                <a href="https://hh.ru/">hh.ru</a>
              </td>
            </tr>
            <tr>
              <td>GitHub</td>
              <td>
                <a href="https://github.com/hydrospirt">Посмотреть</a>
              </td>
            </tr>
            <tr>
              <td>Email</td>
               <td>
                <a href="mailto: hydrospirt@yandex.ru">hydrospirt@yandex.ru</a>
               </td>
            </tr>
            <tr>
              <td>Технологии проекта</td>
                <td>
                  <a href="{% url 'about:tech' %}">Изучить</a>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}