{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе проекта{% endblock title %}
{% block content %}
<div class="container col-xxl-8 px-4 py-1">
  <h1 align="center">Эдуард Гумен</h1>
  <p align="center"><strong>Python Back-end Engineer</strong></p>
  <p align="center"><img src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" alt="my photo" width="150px"></p>
</div>
<div class="container col-xxl-8 px-4 py-1">
  <h2>Краткое описание</h2>
    <p>Ориентированный на дедлайн серверный инженер Python с большим опытом работы.
      Солидный опыт проектирования, превосходящий ожидания клиентов.
      Обладаю смешенным складом ума способным к креативному мышлению,
      что позволяет выполнять любые задачи и способностью быстро адаптироваться к новым технологиям.</p>
</div>
<div class="container col-xxl-8 px-4 py-1">
  <h2>Умения</h2>
    <table class="table table-bordered">
        <tr>
            <th>Tech</th>
            <td>Python</td>
            <td>Django</td>
            <td>SQL</td>
        </tr>
        <tr>
            <th>Soft Skills</th>
            <td>Problem Solving</td>
            <td colspan="3">Team Work</td>
        </tr>
    </table>
</div>
<div class="container col-xxl-8 px-4 py-1">
  <h2>Контакты</h2>
  <div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
          <tread class="thead-dark">
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Ссылка</th>
            </tr>
          </tread>
          <tbody style width="100%">
            <tr>
              <td>GitHub</td>
              <td>
                <a href="https://github.com/hydrospirt">Посмотреть</a>
              </td>
            </tr>
            <tr>
              <td>Email</td>
               <td>
                <a href="mailto: hydrospirt@yandex.ru">Написать</a>
               </td>
            </tr>
            <tr>
              <td>Технологии проекта</td>
                <td>
                  <a href="{% url 'about:tech' %}">Изучить</a>
                </td>
            </tr>
            <tr>
              <td>YouTube канал</td>
                <td>
                  <a href="https://www.youtube.com/channel/UC9rpZSzfSbHOk_BUPvO6Zjg">Посмотреть</a>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}